mixin tenYears
  synz
    syn
      | between the last two censuses
    syn
      | in the decade to 2021
    syn
      | in the 10 years leading up to 2021
    syn
      | in the decade leading up to the most recent census
    syn
      | in the 10 years leading up to the last census


mixin coincide
    synz 
        syn
            | This coincided with 
        syn 
            | At the same time there were
    if (changeMag>40)
        | changes to the
    else if (changeMag>30)
        | changes to the
    else 
        synz 
            syn
                | shift in the
            syn 
                | change in the
    synz
        syn
            | area's
        syn
            if (place.gss)
                | #[+value(place.gss.short)]'s
            else
                | area's
        syn 
            if (place.classification)
                | #[+value(place.classification)]'s
            else
                | area's

mixin standfirst1
    - console.log('sf', sf)
    p
        | #[+value(topics[sf[0][0]].profile)]         
        | #[+tenYears].
        | #[+coincide]
        eachz sfi in sf.slice(1,) with { separator: ',', last_separator: 'and' }
            | #[+value(topics[sfi[0]].general)]
        | .

p 
    | #[+standfirst1]
